.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}

.main {
  padding: 5rem 0;
  width: 100vw;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.input {
  display: grid;
  grid-template-column: 1fr 4fr;
  padding-bottom: 0.5rem;
}

.input > label {
  line-height: 1.8;
}

.form {
  padding: 1rem;
}

.mask {
  display: grid;
  width: fit-content;
  user-select: none;
  margin: 1rem;
}

.gridItem {
  --grid-size: 24px;
  width: var(--grid-size);
  height: var(--grid-size);
  line-height: var(--grid-size);
  text-align: center;
  border: 1px solid black;
}

.gridItem[data-type='-1'] {
  background: black;
  color: white;
}

.gridItem[data-type='0'] {
  background: white;
}

.gridItem[data-type='1'] {
  background: green;
}

.gridItem[data-type='2'] {
  background: yellow;
}

.output {
  margin: 10rem;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left,
.right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.right {
  justify-content: center;
}
